---

- name: delete {{ oai.docker.container.gnb_image }} container
  community.docker.docker_container:
    name: "oai-gnb"
    state: absent
  when: inventory_hostname in groups['oai_nodes']
  become: true

- name: remove /tmp/oai-gnb.conf
  file:
    path: "/tmp/oai-gnb.conf"
    state: absent
  when: inventory_hostname in groups['oai_nodes']
  become: true
